:root{
  --white:#FFFFFF;
  --red:#117A7A;
  --green:#117A7A;
  --greenLigth:#1C9675;
  --brown:#5A5A5A;
  --greydly:#F6F7F9;
  --grey:#767E8C;
  --greyLigth:#D9D9D9;
  --black:#1B1C1F;
  --sl:16px;
  --md:20px;
  --lg:40px;
}
.App {
  color: var(--greydly);
  text-align: center;
  align-items: center;
 
  background-color:#1B1C1F;;
}